.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  
  .content-container {
    padding-top: 100px; /* Add padding to the top of the content to prevent it from being hidden by the fixed header */
    z-index: 1;
  }