.navbar-brand{
margin-left: 10%;
color: rgb(0 199 255);
font-size: xx-large;
font-family: cursive;
font-weight: bolder;
}

// form-inline .li .i{   
//     margin-right: 40px;
//  }

.Link-bar{
    list-style-type: none;

}
.Link-bar:hover{
    color: rgb(0 199 255);;
}

.header{
    position: fixed;
}