
<div class="Header">
    <nav class="navbar navbar-light bg-light" style="padding-top: 4%;background-color: white !important;">
        <a class="navbar-brand" routerLink="/"><i class="bi bi-cart4" style="margin:inherit;color: black"></i >Ecommerce.com</a>
        <form class="form-inline" style="display: flex;gap: 60px;">
          <li class="Link-bar">Welcome!</li>
          <li class="Link-bar"> <i class="bi bi-shop-window"  style="  margin-right: 8px"></i>Store</li>
          <li class="Link-bar" routerLink="/submit-Element"> <i class="bi bi-shop-window"  style="  margin-right: 8px"></i>Add Items</li>
          <li class="Link-bar" (click)="routeToCart()"> <i class="bi bi-bag"  style="  margin-right: 8px"></i >Cart</li>
          <li class="Link-bar"     style="margin-right: 40px"> <i class="bi bi-bag-check"  style="  margin-right: 8px"></i>List</li>
        </form>
        
      </nav>
 
</div>